body, header, footer, article, aside, ul, li, p, h1, h2 {
    background-color: #D9D9D9;
    font-family: 'Open Sans', sans-serif;
}
header, nav ul, nav ul li , footer {
    background-color: #8C8C8C;
    border-radius: 8px;
}

header {
    display: flex;
    flex-wrap: wrap;
    height: 190px;
}

nav {
margin: -20px 0 0 8px;
}

header img {
    max-width: 100%;
    height: auto;
}

nav ul li {
    width: 100px;
    list-style-type: none;
    width: 80px;
    height: 25px;
    margin-top: 1px;
    margin-right: 11px;
    display: inline-flex;
}


main {
    display: flex;
}

article {
    margin: 1px 1px 1px 5px;
}

aside {
    background-color: #D9D9D9;
}

h1, h2 {
    text-align: center;
}

P {
    text-align: left;
}

aside ul {
    background-color: #D9D9D9;
    padding: 0;
    margin: 1rem;
}

aside ul li {
    background-color: rgba(217, 217, 217, 0.301);
    list-style-type: none;
}

footer {
    clear: all;
}

img {
    border-radius: 8px; 
    max-width: 100%;
    height: 100px;
    width: auto;
}

#cat-images {
    text-align: center;
}

aside img {
    border-radius: 8px;
    max-width: 75%;
    height: auto;
    width: auto;
    text-align: center;
}

a {
 text-decoration: none;   
 color: #262626;
}

a:hover {
 color: red;
 font-weight: bold;
}

#main-content {
    flex-direction: column;
}

@media(min-width: 450px) {
 #main-content{
    display: flex;
    flex-direction: row;
}

header {
    display: flex;
    height: 6rem;
    align-items: center;
    background-color: #8C8C8C;
    border-radius: 8px;
}

header ul {
    background-color: #8C8C8C;
    border: blue solid 1px;
    padding: .6rem;
}

header ul li {
    background-color: #8C8C8C;
    border: black solid 1px;
    display: inline;
    padding: .5rem;
}

header img {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
}

main {
    flex: 3;
}

aside {
    flex: 1;
    border: blue 1px solid;
    justify-items: center;
    align-items: center;
}

img {
    border-radius: 8px; 
    max-width: 100%;
    height: 400px;
    width: auto;
}

aside img {
    border: red 1px solid;
    border-right: 1rem;
}
}