body, header, footer, article, p, h1, h2 {
    background-color: #F0F0F2;
    font-family: 'Open Sans', sans-serif;
}
header, nav ul, nav ul li , footer {
    background-color: #A6837B;
    border-radius: 4px;
}

header {
    display: flex;
    flex-wrap: wrap;
    height: 190px;
    background-color:#A6837B;
}

nav {
margin: -20px 0 0 8px;
}

header img {
    max-width: 100%;
    height: auto;
}

nav ul li {
    width: 100px;
    list-style-type: none;
    width: 80px;
    height: 25px;
    margin-top: 1px;
    margin-right: 11px;
    display: inline-flex;
}

main {
    display: flex;
}

article {
    margin: 1px 1px 1px 5px;
}

aside, aside h2 {
    background-color: #6DBFF2;
    border-radius: 4px;

}

h1, h2, h3 {
    text-align: left;
    margin: 0 0 0 .5rem;
}

P {
    text-align: left;
}

aside ul {
    padding: 0;
    margin: 1rem;
}

aside ul li {
    list-style-type: none;
}

footer {
    clear: all;
    background-color: #F0F0F2;
}

img {
    border-radius: 4px; 
    max-width: 100%;
    height: 100px;
    width: auto;
}

#cat-images {
    text-align: center;
}

aside img {
    border-radius: 4px;
    max-width: 75%;
    height: auto;
    width: auto;
    text-align: center;
}

a {
 text-decoration: none;   
 color: #262626;
}

a:hover {
 color: #F0F0F2;
 font-weight: bold;
}

@media(min-width: 450px) {

#main-content {
    display: flex;
}

header {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    align-items: center;
    background-color: #A6837B;
    border-radius: 4px;
    margin: 0 0 4px 0;
}

nav {
    height: auto;
    width: auto;
}

header ul {
    padding: 2px;
}

header ul li {
    padding: 2px;
    border: 1px black solid;
    justify-content: center;
    background-color: #79D0F2;
}

header img {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
}

main {
    flex: 3;
}

aside {
    flex: 1;
    border-radius: 4px;
    margin: 0 0 4px 0;
}

aside, aside h2 {
    background-color: #79D0F2;
}

img {
    border-radius: 4px; 
    max-width: 100%;
    height: 300px;
    width: auto;
    flex-wrap: wrap;
}

#cat-images {
    max-width: 1000px;
}

}